<header-web></header-web>

<div class="container" id="playerContainer">
  <div *ngFor="let player of players" class="col-md-3 column">
    <div class="card">
      <div class="content">
        <img class="img-responsive" src="/images/default_avatar_player.png" alt="{{ player.name }}" style="width:100%">
        <h4 style="margin-bottom:20px; margin-top:20px">{{ player.name }} {{ player.lastName }}</h4>
        <p class="title" style="margin-bottom:10px">{{ player.position }}</p>
        <div class="center"><a [routerLink]="'/players/' + player.name + '/' + player.lastName"><button class="button">Info</button></a></div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <button id="loadMorePlayers" class="button">Cargar más jugadores</button>
</div>

<footer-web></footer-web>
