
<header-web> </header-web>
<app-banner></app-banner>


<div class="team-holder theme-padding container ">
    <div class="main-heading-holder">
      <div class="main-heading sytle-2">
        <h2>Available Tournaments</h2>
        <p>Explore the tournaments available for participation.</p>
      </div>
    </div>
      <div class="">

           <tournamentCard></tournamentCard>

      </div>
    <div style ="display: flex; justify-content: space-between;  padding: 50px;">
      <ul class="login">
        <li class="login-modal">
          <a routerLink="statistics/players" class="login"><i class="fa fa-user"></i>Player Statistics</a>
        </li>
      </ul>      <!-- {{#admin}}
       <a onclick="cleanLSandRedirect()"><button type="button" class="btn btn-outline-primary">Create Tournament</button></a>
       {{/admin}}-->
      <ul class="login">
        <li class="login-modal">
          <a routerLink="addNewTournament" class="login"><i class="fa fa-user"></i>Add Tournament</a>
        </li>
      </ul>
      <ul class="login">
        <li class="login-modal">
          <a routerLink="statistics/teams" class="login"><i class="fa fa-user"></i>Team Statistics</a>
        </li>
      </ul>
    </div>

</div>
<footer-web> </footer-web>
