
<header-web> </header-web>

<div class="team-holder theme-padding container ">
    <div class="main-heading-holder">
      <div class="main-heading sytle-2">
        <h2>Available Tournaments</h2>
        <p>Explore the tournaments available for participation.</p>
      </div>
    </div>
      <div class="">

           <tournamentCard></tournamentCard>

      </div>
    <div style ="display: flex; justify-content: space-between;  padding: 50px;">
      <a href="/players/statistics" ><button type="button" class="btn btn-outline-primary">Players Statistics</button></a>
      <!-- {{#admin}}
       <a onclick="cleanLSandRedirect()"><button type="button" class="btn btn-outline-primary">Create Tournament</button></a>
       {{/admin}}-->
      <a href="/teams/statistics" ><button type="button" class="btn btn-outline-primary">Teams Statistics</button></a>

    </div>

</div>
<footer-web> </footer-web>
