<header>
  <div>
    <a routerLink="/" style="margin-left: 20px; color: #d8302f;"><i class='input-icon uil uil-arrow-left' style="font-size: 2rem;"></i></a>
    <a routerLink="/" style="justify-content: center; align-items: center; display: flex;"><img class="show-logo" src="assets/images/logo_top.png" alt="#"/></a>
  </div>
</header>
<section class="section">
  <div class="login-container">
    <h2>Incorrect Credentials</h2>
    <p>Please verify your credentials and try again.</p>
    <a routerLink="/login" class="retry-button">Try Again!</a>
  </div>
</section>
