<div class="containerCards">
  <div class="col-md-3 " style="margin-top:20px" *ngFor="let team of teamData">
    <div class="team-column style-2">
        <img [src]="team.imagePath"  routerLink="/teamInfo/{{team.id}}" alt="" style="width: 250px ; height:350px">
        <div class="player-name">
          <div class="desination-2">{{team.name}}</div>
          <div style="text-align: center; margin-bottom: 10px">{{team.stadium}}</div>
          <div style="text-align: center;">
            <button id="infoPlayer" routerLink="/teamInfo/{{team.id}}"  class="button">Info</button>
          </div>
        </div>

    </div>
  </div>
</div>
