

<div class="containerCards">
  <div class="col-md-3 " style="margin-top:20px" *ngFor="let team of team">
    <div class="team-column style-2">
      <a href="">
        <img [src]="team.imagePath" href="" alt="" style="width: 250px ; height:350px">
        <div class="player-name">
          <div class="desination-2">{{team.name}}</div>
          <h5>
            {{team.stadium}}
            <button style="float: right" id="loadMoreTeams" class="button">Info</button>
          </h5>
        </div>
      </a>
    </div>
  </div>
</div>
