<header-web> </header-web>
<app-banner></app-banner>

<form (ngSubmit)="onSubmit()">
  <div class="marginDefined">
    <label for="name">Team name:</label>
    <input type="text" id="name" [(ngModel)]="team.name" name="name" placeholder="Enter team name" required>
  </div>
  <div class="marginDefined">
    <label for="coach">Coach:</label>
    <input type="text" id="coach" [(ngModel)]="team.coach" name="coach" placeholder="Enter coach's name" required>
  </div>
  <div class="marginDefined">
    <label for="stadium">Stadium:</label>
    <input type="text" id="stadium" [(ngModel)]="team.stadium" name="stadium" placeholder="Enter stadium name" required>
  </div>
  <div class="marginDefined">
    <label for="colors">Team colors:</label>
    <input type="text" id="colors" [(ngModel)]="team.colors" name="colors" placeholder="Enter team colors" required>
  </div>
  <!-- add other form fields here -->
  <div class="marginDefined">
    <label for="player1Name">Player 1 name and surname:</label>
    <input type="text" id="player1Name" [(ngModel)]="team.players[0].name" name="player1Name" placeholder="Enter player's name and surname" required>
  </div>
  <div class="marginDefined">
    <label for="player1Age">Player 1 age:</label>
    <input type="text" id="player1Age" [(ngModel)]="team.players[0].age" name="player1Age" placeholder="Enter player's age" required>
  </div>
  <div class="marginDefined">
    <label for="player1TShirtN">Player 1 shirt-nº:</label>
    <input type="text" id="player1TShirtN" [(ngModel)]="team.players[0].shirtNumber" name="player1TShirtN" placeholder="Enter player's shirt number" required>
  </div>
  <div class="marginDefined">
    <label for="player1Nacionality">Player 1 nacionality:</label>
    <input type="text" id="player1Nacionality" [(ngModel)]="team.players[0].nationality" name="player1Nacionality" placeholder="Enter player's nacionality" required>
  </div>
  <div class="marginDefined">
    <label for="player1Weight">Player 1 weight:</label>
    <input type="text" id="player1Weight" [(ngModel)]="team.players[0].weight" name="player1Weight" placeholder="Enter player's weight" required>
  </div>
  <div class="marginDefined">
    <label for="player1Height">Player 1 height:</label>
    <input type="text" id="player1Height" [(ngModel)]="team.players[0].height" name="player1Height" placeholder="Enter player's height" required>
  </div>
  <div class="marginDefined">
    <label for="player1Position">Player 1 position:</label>
    <input type="text" id="player1Position" [(ngModel)]="team.players[0].position" name="player1Position" placeholder="Enter player's position" required>
  </div>

  <!-- add other form fields here -->
  <div class="marginDefined">
    <label for="player2Name">Player 2 name and surname:</label>
    <input type="text" id="player2Name" [(ngModel)]="team.players[1].name" name="player2Name" placeholder="Enter player's name and surname" required>
  </div>
  <div class="marginDefined">
    <label for="player2Age">Player 2 age:</label>
    <input type="text" id="player2Age" [(ngModel)]="team.players[1].age" name="player2Age" placeholder="Enter player's age" required>
  </div>
  <div class="marginDefined">
    <label for="player2TShirtN">Player 2 shirt-nº:</label>
    <input type="text" id="player2TShirtN" [(ngModel)]="team.players[1].shirtNumber" name="player2TShirtN" placeholder="Enter player's shirt number" required>
  </div>
  <div class="marginDefined">
    <label for="player2Nacionality">Player 2 nacionality:</label>
    <input type="text" id="player2Nacionality" [(ngModel)]="team.players[1].nationality" name="player2Nacionality" placeholder="Enter player's nacionality" required>
  </div>
  <div class="marginDefined">
    <label for="player2Weight">Player 2 weight:</label>
    <input type="text" id="player2Weight" [(ngModel)]="team.players[1].weight" name="player2Weight" placeholder="Enter player's weight" required>
  </div>
  <div class="marginDefined">
    <label for="player2Height">Player 2 height:</label>
    <input type="text" id="player2Height" [(ngModel)]="team.players[1].height" name="player2Height" placeholder="Enter player's height" required>
  </div>
  <div class="marginDefined">
    <label for="player2Position">Player 2 position:</label>
    <input type="text" id="player2Position" [(ngModel)]="team.players[1].position" name="player2Position" placeholder="Enter player's position" required>
  </div>


  <!-- add other form fields here -->
  <div class="marginDefined">
    <label for="player1Name">Player 3 name and surname:</label>
    <input type="text" id="player3Name" [(ngModel)]="team.players[2].name" name="player1Name" placeholder="Enter player's name and surname" required>
  </div>
  <div class="marginDefined">
    <label for="player3Age">Player 3 age:</label>
    <input type="text" id="player3Age" [(ngModel)]="team.players[2].age" name="player3Age" placeholder="Enter player's age" required>
  </div>
  <div class="marginDefined">
    <label for="player3TShirtN">Player 3 shirt-nº:</label>
    <input type="text" id="player3TShirtN" [(ngModel)]="team.players[2].shirtNumber" name="player3TShirtN" placeholder="Enter player's shirt number" required>
  </div>
  <div class="marginDefined">
    <label for="player3Nacionality">Player 3 nacionality:</label>
    <input type="text" id="player3Nacionality" [(ngModel)]="team.players[2].nationality" name="player3Nacionality" placeholder="Enter player's nacionality" required>
  </div>
  <div class="marginDefined">
    <label for="player3Weight">Player 3 weight:</label>
    <input type="text" id="player3Weight" [(ngModel)]="team.players[2].weight" name="player3Weight" placeholder="Enter player's weight" required>
  </div>
  <div class="marginDefined">
    <label for="player3Height">Player 3 height:</label>
    <input type="text" id="player3Height" [(ngModel)]="team.players[2].height" name="player3Height" placeholder="Enter player's height" required>
  </div>
  <div class="marginDefined">
    <label for="player3Position">Player 3 position:</label>
    <input type="text" id="player3Position" [(ngModel)]="team.players[2].position" name="player3Position" placeholder="Enter player's position" required>
  </div>


  <!-- add other form fields here -->
  <div class="marginDefined">
    <label for="player4Name">Player 4 name and surname:</label>
    <input type="text" id="player4Name" [(ngModel)]="team.players[3].name" name="player4Name" placeholder="Enter player's name and surname" required>
  </div>
  <div class="marginDefined">
    <label for="player4Age">Player 4 age:</label>
    <input type="text" id="player4Age" [(ngModel)]="team.players[3].age" name="player4Age" placeholder="Enter player's age" required>
  </div>
  <div class="marginDefined">
    <label for="player4TShirtN">Player 4 shirt-nº:</label>
    <input type="text" id="player4TShirtN" [(ngModel)]="team.players[3].shirtNumber" name="player4TShirtN" placeholder="Enter player's shirt number" required>
  </div>
  <div class="marginDefined">
    <label for="player4Nacionality">Player 4 nacionality:</label>
    <input type="text" id="player4Nacionality" [(ngModel)]="team.players[3].nationality" name="player4Nacionality" placeholder="Enter player's nacionality" required>
  </div>
  <div class="marginDefined">
    <label for="player4Weight">Player 4 weight:</label>
    <input type="text" id="player4Weight" [(ngModel)]="team.players[3].weight" name="player4Weight" placeholder="Enter player's weight" required>
  </div>
  <div class="marginDefined">
    <label for="player4Height">Player 4 height:</label>
    <input type="text" id="player4Height" [(ngModel)]="team.players[3].height" name="player4Height" placeholder="Enter player's height" required>
  </div>
  <div class="marginDefined">
    <label for="player4Position">Player 4 position:</label>
    <input type="text" id="player4Position" [(ngModel)]="team.players[3].position" name="player4Position" placeholder="Enter player's position" required>
  </div>


  <!-- add other form fields here -->
  <div class="marginDefined">
    <label for="player5Name">Player 5 name and surname:</label>
    <input type="text" id="player5Name" [(ngModel)]="team.players[4].name" name="player5Name" placeholder="Enter player's name and surname" required>
  </div>
  <div class="marginDefined">
    <label for="player5Age">Player 5 age:</label>
    <input type="text" id="player5Age" [(ngModel)]="team.players[4].age" name="player5Age" placeholder="Enter player's age" required>
  </div>
  <div class="marginDefined">
    <label for="player5TShirtN">Player 5 shirt-nº:</label>
    <input type="text" id="player5TShirtN" [(ngModel)]="team.players[4].shirtNumber" name="player5TShirtN" placeholder="Enter player's shirt number" required>
  </div>
  <div class="marginDefined">
    <label for="player5Nacionality">Player 5 nacionality:</label>
    <input type="text" id="player5Nacionality" [(ngModel)]="team.players[4].nationality" name="player5Nacionality" placeholder="Enter player's nacionality" required>
  </div>
  <div class="marginDefined">
    <label for="player5Weight">Player 5 weight:</label>
    <input type="text" id="player5Weight" [(ngModel)]="team.players[4].weight" name="player5Weight" placeholder="Enter player's weight" required>
  </div>
  <div class="marginDefined">
    <label for="player5Height">Player 5 height:</label>
    <input type="text" id="player5Height" [(ngModel)]="team.players[4].height" name="player5Height" placeholder="Enter player's height" required>
  </div>
  <div class="marginDefined">
    <label for="player5Position">Player 5 position:</label>
    <input type="text" id="player5Position" [(ngModel)]="team.players[4].position" name="player5Position" placeholder="Enter player's position" required>
  </div>



  <div class="marginDefined">
    <label for="player6Name">Player 6 name and surname:</label>
    <input type="text" id="player6Name" [(ngModel)]="team.players[5].name" name="player6Name" placeholder="Enter player's name and surname" required>
  </div>
  <div class="marginDefined">
    <label for="player6Age">Player 6 age:</label>
    <input type="text" id="player6Age" [(ngModel)]="team.players[5].age" name="player6Age" placeholder="Enter player's age" required>
  </div>
  <div class="marginDefined">
    <label for="player6TShirtN">Player 6 shirt-nº:</label>
    <input type="text" id="player6TShirtN" [(ngModel)]="team.players[5].shirtNumber" name="player6TShirtN" placeholder="Enter player's shirt number" required>
  </div>
  <div class="marginDefined">
    <label for="player6Nacionality">Player 6 nacionality:</label>
    <input type="text" id="player6Nacionality" [(ngModel)]="team.players[5].nationality" name="player6Nacionality" placeholder="Enter player's nacionality" required>
  </div>
  <div class="marginDefined">
    <label for="player6Weight">Player 6 weight:</label>
    <input type="text" id="player6Weight" [(ngModel)]="team.players[5].weight" name="player6Weight" placeholder="Enter player's weight" required>
  </div>
  <div class="marginDefined">
    <label for="player6Height">Player 6 height:</label>
    <input type="text" id="player6Height" [(ngModel)]="team.players[5].height" name="player6Height" placeholder="Enter player's height" required>
  </div>
  <div class="marginDefined">
    <label for="player6Position">Player 6 position:</label>
    <input type="text" id="player6Position" [(ngModel)]="team.players[5].position" name="player6Position" placeholder="Enter player's position" required>
  </div>



  <div class="marginDefined">
    <label for="player7Name">Player 7 name and surname:</label>
    <input type="text" id="player7Name" [(ngModel)]="team.players[6].name" name="player7Name" placeholder="Enter player's name and surname" required>
  </div>
  <div class="marginDefined">
    <label for="player7Age">Player 7 age:</label>
    <input type="text" id="player7Age" [(ngModel)]="team.players[6].age" name="player7Age" placeholder="Enter player's age" required>
  </div>
  <div class="marginDefined">
    <label for="player7TShirtN">Player 7 shirt-nº:</label>
    <input type="text" id="player7TShirtN" [(ngModel)]="team.players[6].shirtNumber" name="player7TShirtN" placeholder="Enter player's shirt number" required>
  </div>
  <div class="marginDefined">
    <label for="player7Nacionality">Player 7 nacionality:</label>
    <input type="text" id="player7Nacionality" [(ngModel)]="team.players[6].nationality" name="player7Nacionality" placeholder="Enter player's nacionality" required>
  </div>
  <div class="marginDefined">
    <label for="player7Weight">Player 7 weight:</label>
    <input type="text" id="player7Weight" [(ngModel)]="team.players[6].weight" name="player7Weight" placeholder="Enter player's weight" required>
  </div>
  <div class="marginDefined">
    <label for="player7Height">Player 7 height:</label>
    <input type="text" id="player7Height" [(ngModel)]="team.players[6].height" name="player7Height" placeholder="Enter player's height" required>
  </div>
  <div class="marginDefined">
    <label for="player7Position">Player 7 position:</label>
    <input type="text" id="player7Position" [(ngModel)]="team.players[6].position" name="player7Position" placeholder="Enter player's position" required>
  </div>

  <button type="submit">SAVE</button>
</form>
<footer-web></footer-web>
