
<header class="background-pers">
  <div class="header-top">
    <div class="row">
      <div class="col-md-6">
        <div class="full" >
          <div class="logo">
            <a href="/"><img src="./assets/images/logo_top.png" alt="#" height="75" width="75"/></a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="right_top_section">
          <!-- {{#user}}
           button section
          <ul class="login">
            <li class="login-modal">
              <a href="/logout" class="login"><i class="fa fa-user"></i>LogOut</a>
            </li>
          </ul>
           end button section -->

          <!--   {{/user}}
           {{^user}}
            button section -->
          <ul class="login">
            <li class="login-modal">
              <a routerLink="/login" class="login"><i class="fa fa-user"></i>Login/Register</a>
            </li>
          </ul>
          <!-- end button section
          {{/user}}-->

        </div>
      </div>
      <div class="col-md 6">

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/teams">Teams</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/players">Players</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/profile">Profile</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="query" name="query">
                <button class="btn btn-outline-danger" type="submit" (click) = searchAll(query)>Search</button>
              </form>
            </div>
          </div>
        </nav>

      </div>
    </div>
  </div>


</header>
