
<header-web> </header-web>
<app-banner></app-banner>


<div class="team-holder theme-padding container ">
  <div class="main-heading-holder">
    <div class="main-heading sytle-2">
      <h2>Teams</h2>
      <p>Explore the teams available.</p>
    </div>
  </div>
  <div class="">

    <teamCard></teamCard>

  </div>

  <div style = "margin-bottom: 50px; margin-top: 50px"  class="text-center">
    <button id="loadMoreTeams" class="button" (click)="loadMoreTeams()">Cargar más equipos</button>
  </div>

</div>
<footer-web> </footer-web>
