{{>header}}
{{>page_banner}}
      <section id="contant" class="contant main-heading" style="padding-bottom:0;margin-bottom:-1px;position:relative;z-index:1;">
         <div class="aboutus">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="full">
                           <h3>FutPro League</h3>
                           <p>FutPro League is a user-friendly web platform designed to streamline the management of soccer tournaments. 
                              FutPro League simplifies the entire tournament organization process. 
                              Whether you're a tournament organizer, team captain, player, or referee, FutPro League provides a seamless experience, ensuring that everyone involved can focus on enjoying the excitement of the game.
                           </p>
                        </div>
                     </div>
                     <div class="col-md-5 col-sm-5 col-xs-12">
                        <img class="img-responsive" src="/images/img-04.jpg" alt="#" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="dark-section" >
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <div class="heading-main">
                        <h2>Our Testimonials</h2>
                     </div>
                     <div class="testimonial-slider">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                           <!-- Carousel Slides / Quotes -->
                           <div class="carousel-inner text-center">
                              <!-- Quote 1 -->
                              <div class="">
                                 <blockquote>
                                    <div class="row">
                                       <div class="col-sm-10 col-sm-offset-1">
                                          <p>"We used FutPro League soccer tournament management platform to register our team for a local tournament, it was incredibly easy and convenient! The intuitive interface allowed us to register our players. We will definitely use it again for future tournaments!"</p>
                                          <small>Maria Garcia - Youth Team Coach</small>
                                       </div>
                                    </div>
                                 </blockquote>
                              </div>
                              <!-- Quote 2 -->
                              <div class="">
                                 <blockquote>
                                    <div class="row">
                                       <div class="col-sm-10 col-sm-offset-1">
                                          <p>As a parent of a young soccer player, I love FutPro League tournament management platform. It allows me to stay on top of upcoming events, sign my son up for the right tournaments. It's an invaluable tool for any family involved in youth soccer!</p>
                                          <small>Javier Navarro - Father of U-12 player</small>
                                       </div>
                                    </div>
                                 </blockquote>
                              </div>
                              <!-- Quote 3 -->
                              <div class="">
                                 <blockquote>
                                    <div class="row">
                                       <div class="col-sm-10 col-sm-offset-1">
                                          <p>As a soccer referee, I have had the opportunity to work on several tournaments that use the FutPro League platform. I love how well organized the events are and how easy it is for me to access the information I need, such as match schedules and team details. It's an invaluable tool that enhances the experience for everyone involved in the game!</p>
                                          <small>Laura Lopez - Certified Referee</small>
                                       </div>
                                    </div>
                                 </blockquote>
                              </div>
                           </div>
                           </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
{{>footer}}