

{{>header}}
{{>page_banner}}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/imports/bootstrap.min.css"/> 

<link href="/css/matchScreen.css" rel="stylesheet" type="text/css"/>
 

<div class="container text-center" style="background-color: lightblue;">
  <div class="col">
    <div class="row">
      
  <div class="img-fluid"> <img src="/images/AtleticoDeMAdrid.png" alt="#"></div>
  <div class="img-fluid" style="width: 50%;"><img src="/images/realMadrid.png" alt="#"></div>
    </div>
    <div class="row">
    </div>
  </div>
  </div>
  



{{>footer}}
