

{{>header}}
{{>page_banner}}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/imports/bootstrap.min.css"/> 

<link href="/css/matchScreen.css" rel="stylesheet" type="text/css"/>
 
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th style ="text-align: center;">Real Madrid 

                    <img  id="realMadrid"src="/images/realMadrid.png" alt="#">
                  </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Player name</td>
                    <tr>
                      <td>Player name</td>
                  </tr>
                  <tr>
                    <td>Player name</td>
                </tr>
                <tr>
                  <td>Player name</td>
              </tr>
                </tr>
            </tbody>
            <thead>
              <tr>
                  <th style ="text-align: center;">Atletico de Madrid 
                  <img   id ="Atleti"src="/images/AtleticoDeMAdrid.png" alt="#">
                </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Player name</td>
                  <tr>
                    <td>Player name</td>
                </tr>
                <tr>
                  <td>Player name</td>
              </tr>
              <tr>
                <td>Player name</td>
            </tr>
              </tr>
          </tbody>
        </table>
    </div>
  </div>



{{>footer}}
