

{{>header}}
{{>page_banner}}
  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/imports/bootstrap.min.css"/> 
<link href="/css/matchScreen.css" rel="stylesheet" type="text/css"/>
    
    <div class="table-container" style="padding-top: 75px;">
        <table>
            <thead>
                <tr>
                    <th style ="text-align: center;">Real Madrid 

                    <img  class ="imgTeam"src="/images/realMadrid.png" alt="Real Madrid">
                  </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Player name</td>
                    <tr>
                      <td>Player name</td>
                  </tr>
                  <tr>
                    <td>Player name</td>
                </tr>
                <tr>
                  <td>Player name</td>
              </tr>
                </tr>
            </tbody>
            <thead>
              <tr>
                  <th style ="text-align: center;">Atletico de Madrid 
                  <img  class ="imgTeam"src="/images/AtleticoDeMAdrid.png" alt="Atleti">
                </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Player name</td>
                  <tr>
                    <td>Player name</td>
                </tr>
                <tr>
                  <td>Player name</td>
              </tr>
              <tr>
                <td>Player name</td>
            </tr>
              </tr>
          </tbody>
        </table>
        <div class="fillDiv">
        <a href="fillMatchReport" >
          <button type="button" class="btn btn-outline-primary">Fill Match Report</button>
           </a>
          </div>
    </div>
 



{{>footer}}
