{{>header}}
{{>page_banner}}
<link href="/css/teamInfo.css" rel="stylesheet" type="text/css"/>
<div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Player name</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th>Players</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cristiano Ronaldo</td>
                </tr>
                <tr>
                    <td>Player 2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-container">
        <table class="second-table">
            <thead>
                <tr>
                    <th>Game stats</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Games played</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Wins</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>Ties</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Loses</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{>footer}}