{{>header}}
{{>page_banner}}
<link href="/css/tournament_bracket.css" rel="stylesheet" type="text/css"/>
<section id="bracket">
  <div class="Pcontainer">
    <div class="Psplit split-one">
      <div class="Pround round-one current">
        <div class="Pround-details">
          Round 1<br /><span class="Pdate">March 16</span>
        </div>
        <ul class="Pmatchup">
          <li class="Pteam team-top">Duke<span class="Pscore">76</span></li>
          <li class="Pteam team-bottom">
            Virginia<span class="Pscore">82</span>
          </li>
        </ul>
        <ul class="Pmatchup">
          <li class="Pteam team-top">
            Wake Forest<span class="Pscore">64</span>
          </li>
          <li class="Pteam team-bottom">
            Clemson<span class="Pscore">56</span>
          </li>
        </ul>
        <ul class="Pmatchup">
          <li class="Pteam team-top">
            North Carolina<span class="Pscore">68</span>
          </li>
          <li class="Pteam team-bottom">
            Florida State<span class="Pscore">54</span>
          </li>
        </ul>
        <ul class="Pmatchup">
          <li class="Pteam team-top">NC State<span class="Pscore">74</span></li>
          <li class="Pteam team-bottom">
            Maryland<span class="Pscore">92</span>
          </li>
        </ul>
      </div>
      <!-- END ROUND ONE -->

      <div class="Pround round-two">
        <div class="Pround-details">
          Round 2<br /><span class="Pdate">March 18</span>
        </div>
        <ul class="Pmatchup">
          <li class="Pteam team-top">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
          <li class="Pteam team-bottom">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
        </ul>
        <ul class="Pmatchup">
          <li class="Pteam team-top">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
          <li class="Pteam team-bottom">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
        </ul>
      </div>
      <!-- END ROUND TWO -->

      <div class="Pround round-three">
        <div class="Pround-details">
          Round 3<br /><span class="Pdate">March 22</span>
        </div>
        <ul class="Pmatchup">
          <li class="Pteam team-top">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
          <li class="Pteam team-bottom">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
        </ul>

      </div>
      <!-- END ROUND THREE -->
    </div>

    <div class="Pchampion">
      <div class="Psemis-l">
        <div class="Pround-details">
          FINAL <br /><span class="Pdate">March 26-28</span>
        </div>
        <ul class="Pmatchup championship">
          <li class="Pteam team-top">
            &nbsp;<span class="Pvote-count">&nbsp;</span>
          </li>
          <li class="Pteam team-bottom">
            &nbsp;<span class="Pvote-count">&nbsp;</span>
          </li>
        </ul>
      </div>
      <div class="Pfinal">
        <i class="Pfa fa-trophy"></i>
        <div class="Pround-details">
          champion <br /><span class="Pdate">Tournament name</span> <!-- Champion declaration, span not necessary -->
        </div>
        <ul class="Pmatchup championship">
          <li class="Pteam team-bottom">
            &nbsp;<span class="Pvote-count">WINNER</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="Psplit split-two">
      <div class="Pround round-three">
        <div class="Pround-details">
          Round 3<br /><span class="Pdate">March 22</span>
        </div>
        <ul class="Pmatchup">
          <li class="Pteam team-top">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
          <li class="Pteam team-bottom">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
        </ul>
      </div>
      <!-- END ROUND THREE -->

      <div class="Pround round-two">
        <div class="Pround-details">
          Round 2<br /><span class="Pdate">March 18</span>
        </div>
        <ul class="Pmatchup">
          <li class="Pteam team-top">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
          <li class="Pteam team-bottom">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
        </ul>
        <ul class="Pmatchup">
          <li class="Pteam team-top">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
          <li class="Pteam team-bottom">
            &nbsp;<span class="Pscore">&nbsp;</span>
          </li>
      </div>
      <!-- END ROUND TWO -->
      <div class="Pround round-one current">
        <div class="Pround-details">
          Round 1<br /><span class="Pdate">March 16</span>
        </div>
        <div>  <a href="matchScreen.html">
        <ul class="Pmatchup">
          <li class="Pteam team-top">
            Real Madrid<span class="Pscore">62</span>
          </li>
          <li class="Pteam team-bottom">
            Atletico de Madrid<span class="Pscore">54</span>
          </li>
        </ul>
      </a>
      </div>
        <ul class="Pmatchup">
          <li class="Pteam team-top">Michigan<span class="Pscore">68</span></li>
          <li class="Pteam team-bottom">Iowa<span class="Pscore">66</span></li>
        </ul>
        <ul class="Pmatchup">
          <li class="Pteam team-top">Illinois<span class="Pscore">64</span></li>
          <li class="Pteam team-bottom">
            Wisconsin<span class="Pscore">56</span>
          </li>
        </ul>
        <ul class="Pmatchup">
          <li class="Pteam team-top">Purdue<span class="Pscore">36</span></li>
          <li class="Pteam team-bottom">
            Boise State<span class="Pscore">40</span>
          </li>
        </ul>
      </div>
      <!-- END ROUND ONE -->
    </div>
  </div>
  <div style ="display: flex; justify-content: center;"> <a href="stadistics.html"> <button type="button" class="Pbtn btn-outline-primary">stadistics</button></a> </div>
</section>
{{>footer}}
