{{>header}}
{{>page_banner}}
<link href="css/bracket.css" rel="stylesheet" type="text/css"/>
<div class="inner-information-text" >
<div class="bracket" style="background-color: black;">
	<div class="round">
		<div class="match">
			<div class="team">Team Red</div>
			<div class="team">Team Blue</div>
		</div>
		<div class="match">
			<div class="team">Team Yellow</div>
			<div class="team">Team Black</div>
		</div>
		<div class="match">
			<div class="team">Team White</div>
			<div class="team">Team Pink</div>
		</div>
		<div class="match">
			<div class="team">Team Green</div>
			<div class="team">Team Indigo</div>
		</div>
	</div>
	<div class="round">
		<div class="match">
			<div class="team">Team Red</div>
			<div class="team">Team Black</div>
		</div>
		<div class="match">
			<div class="team">Team White</div>
			<div class="team">Team Indigo</div>
		</div>
	</div>
	<div class="round">
		<div class="match">
			<div class="team">Team Red</div>
			<div class="team">Team Indigo</div>
		</div>
	</div>
  	<div class="round">
		<div class="match">
			<div class="team">Team Red</div>
		</div>
	</div>
</div>
</div>
{{>footer}}
