{{>header}}
{{>pageBanner}}
<link href="css/bracket.css" rel="stylesheet" type="text/css"/>
<div class="inner-information-text" >
<div class="bracket" style="background-color: rgb(51, 51, 51)">
	<div class="round" id ="round1">
		<a href="matchScreen">
		<div class="match">
			<div class="team">Atlético de Madrid <span > 0</span></div>
			<div class="team">Real Madrid <span> 2</span></div>
		</div>
		</a>
		<div class="match">
			<div class="team">Team Yellow  <span > 0</span></div>
			<div class="team">Team Black <span > 0</span></div>
		</div>
		<div class="match">
			<div class="team">Team White  <span > 0</span></div>
			<div class="team">Team Pink  <span > 0</span></div>
		</div>
		<div class="match">
			<div class="team">Team Green  <span > 0</span></div>
			<div class="team">Team Indigo  <span > 0</span></div>
		</div>
	</div>
	<div class="round">
		<div class="match">
			<div class="team">Team Red  <span > 0</span></div>
			<div class="team">Team Black  <span > 0</span></div>
		</div>
		<div class="match">
			<div class="team">Team White  <span > 0</span></div>
			<div class="team">Team Indigo  <span > 0</span></div>
		</div>
	</div>
	<div class="round">
		<div class="match">
			<div class="team">Team Red  <span > 0</span></div>
			<div class="team">Team Indigo  <span > 0</span>  </div>
		</div>
	</div>
  	<div class="round">
		<div class="match">
			<div class="team">Team Red <span > WINNER!!</span></div>
		</div>
	</div>
	
</div>
<div style ="display: flex; justify-content: center; background-color: rgb(51, 51, 51);  padding-bottom: 20px;">  <a href="stadistics" >
	<button type="button" class="btn btn-outline-primary">Stadistics</button>
	 </a> </div>
</div>
{{>footer}}
