
<header-web> </header-web>
<app-banner></app-banner>


<div class="team-holder theme-padding container ">
  <div class="main-heading-holder">
    <div class="main-heading sytle-2">
      <h2>Players</h2>
      <p>Explore the players available.</p>
    </div>
  </div>
  <div class="">

    <playerCard (hasMoreDataChange)="handleHasMoreDataChange($event)"></playerCard>

    <div style = "margin-bottom: 50px; margin-top: 50px" class="text-center">
      <button id="loadMorePlayers" class="button" (click)="loadMorePlayers()" *ngIf="hasMoreData">{{loadMoreButtonText}}</button>
    </div>

</div>
</div>
<footer-web> </footer-web>
