<header-web> </header-web>
<app-banner></app-banner>

<form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <div class="marginDefined">
    <label for="field_1">Tournament name:</label>
    <input type="field" [(ngModel)]="tourName" name="field_1" id="field_1" placeholder="Enter Tournament name" class="texted" required>
  </div>
  <div class="marginDefined">
    <label for="field_2">Category:</label>
    <input type="field" [(ngModel)]="tourCategory" name="field_2" id="field_2" placeholder="Enter category" class="texted" required>
  </div>
  <div class="marginDefined">
    <label for="field_3">Cup:</label>
    <input type="field" [(ngModel)]="tourCup" name="field_3" id="field_3" placeholder="Enter cup" class="texted" required>
  </div>
  <div class="marginDefined" *ngFor="let team of teams; let i = index">
    <div>Team {{i + 1}} : </div>
    <ng-container *ngIf="team.name; else addTeamLink">
      {{team.name}}
    </ng-container>
    <ng-template #addTeamLink>
      <a  class="addTeam" [routerLink]="['/addNewTeamToTournament']">Add team {{i + 1}}</a>
    </ng-template>
  </div>
  <div class="marginDefined">
    <label for="TourPhoto">Tournament photo:</label>
    <input type="file" name="TourPhoto" id="TourPhoto" accept="image/png" (change)="onFileChange($event, -1)">
  </div>
  <div class="marginDefined">
    <label for="Team1Photo">Team1 photo:</label>
    <input type="file" name="Team1Photo" id="Team1Photo" accept="image/png" (change)="onFileChange($event, 0)">
  </div>
  <div class="marginDefined">
    <label for="Team2Photo">Team2 photo:</label>
    <input type="file" name="Team1Photo" id="Team2Photo" accept="image/png" (change)="onFileChange($event, 1)">
  </div>
  <div class="marginDefined">
    <label for="Team3Photo">Team3 photo:</label>
    <input type="file" name="Team3Photo" id="Team3Photo" accept="image/png" (change)="onFileChange($event, 2)">
  </div>
  <div class="marginDefined">
    <label for="Team4Photo">Team4 photo:</label>
    <input type="file" name="Team4Photo" id="Team4Photo" accept="image/png" (change)="onFileChange($event, 3)">
  </div>
  <div class="marginDefined">
    <label for="Team5Photo">Team5 photo:</label>
    <input type="file" name="Team5Photo" id="Team5Photo" accept="image/png" (change)="onFileChange($event, 4)">
  </div>
  <div class="marginDefined">
    <label for="Team6Photo">Team6 photo:</label>
    <input type="file" name="Team6Photo" id="Team6Photo" accept="image/png" (change)="onFileChange($event, 5)">
  </div>
  <div class="marginDefined">
    <label for="Team7Photo">Team7 photo:</label>
    <input type="file" name="Team7Photo" id="Team7Photo" accept="image/png" (change)="onFileChange($event, 6)">
  </div>
  <div class="marginDefined">
    <label for="Team8Photo">Team8 photo:</label>
    <input type="file" name="Team7Photo" id="Team8Photo" accept="image/png" (change)="onFileChange($event, 7)">
  </div>
  <button type="submit">SAVE</button>
  <button type="button" [routerLink]="['/']">CANCEL</button>
  <br>
</form>
<footer-web></footer-web>
