

<div class="containerCards">
  <div class="col-md-3 " style="margin-top:20px" *ngFor="let player of playerData">
    <div class="team-column style-2">

        <img src="assets/images/default_avatar_player.png" href="" alt="" style="width: 250px ; height:350px">
        <div class="player-name">
          <div class="desination-2">{{player.name}}</div>
          <h5>
            <div style="text-align: center; margin-bottom: 10px">{{player.position}}</div>
            <div style="text-align: center;">
              <button id="infoPlayer" class="button" routerLink="/playerInfo/{{player.id}}">Info</button>
            </div>
          </h5>
        </div>


    </div>
  </div>
</div>
