
{{>header}}
{{>pageBanner}}
<link href="css/bracket.css" rel="stylesheet" type="text/css"/>
<div class="team-holder theme-padding">
	<div class="container">
	    <div class="main-heading-holder">
		    <div class="main-heading sytle-2">
				<h2>Available Tournaments</h2>
				<p>Explore the tournaments available for participation.</p>
		  	</div>
	    </div>
	   <div id="team-slider">
		  <div class="container" style =" justify-content: space-between">

			  {{#tournaments}}
			  <div class="col-md-3">
				<div class="team-column style-2">
				   <a href="/tournament/{{cup}}">
				   <img src="data:image/png;base64,{{tournamentImagePath}}" href="tournamentBracket" alt="{{cup}}" style="width: 250px ; height:350px">
					  <div class="player-name">
						 <div class="desination-2">{{name}}</div>
						 <h5>{{cup}}</h5>
					  </div>
				   </a>
				</div>
			 </div>
			{{/tournaments}}

		  </div>
	   </div>
		<div style ="display: flex; justify-content: space-between;  padding: 50px;">
			<a href="/players/stadistics" ><button type="button" class="btn btn-outline-primary">Players Stadistics</button></a>
			<a href="/teams/stadistics" ><button type="button" class="btn btn-outline-primary">Teams Stadistics</button></a>
		</div>
	</div>
 </div>
{{>footer}}