
{{>header}}
{{>pageBanner}}
<div class="team-holder theme-padding">
	<div class="container">
	    <div class="main-heading-holder">
		    <div class="main-heading sytle-2">
				<h2>Available Tournaments</h2>
				<p>Explore the tournaments available for participation.</p>
		  	</div>
	    </div>
	   <div id="team-slider">
		  <div class="container">
			    <div class="col-md-3">
				<div class="team-column style-2">
				   <a href="tournamentBracket">
				   <img src="/images/tournament-2.png" href="tournamentBracket" alt="">
					  <div class="player-name">
						 <div class="desination-2">Valencia</div>
						 <h5>Tournament 1</h5>
					  </div>
				   </a>
				</div>
			 </div>
			 <div class="col-md-3">
				<div class="team-column style-2">
				   <a href="tournamentBracket">
					  <img src="/images/tournament-3.png"  href="tournamentBracket" alt="">
					  <div class="player-name">
						 <div class="desination-2">Barcelona</div>
					  <h5>Tournament 2</h5>
				   </div>
				   </a>
				</div>
			 </div>
			 <div class="col-md-3">
				<div class="team-column style-2">
				   <a href="tournamentBracket">
					  <img src="/images/tournament-4.png"  href="tournamentBracket" alt="">
					  <div class="player-name">
						 <div class="desination-2">Madrid</div>
						 <h5>Tournament 3</h5>
					  </div>
				   </a>
				</div>
			 </div>
			 <div class="col-md-3">
				<div class="team-column style-2">
				   <a href="tournamentBracket">
					  <img src="/images/tournament-5.png" href="tournamentBracket" alt="">
					  <div class="player-name">
						 <div class="desination-2">Huesca</div>
						 <h5>Tournament 4</h5>
					  </div>
				   </a>
				</div>
			 </div>
		  </div>
	   </div>
 </div>
{{>footer}}