
{{>header}}
{{>pageBanner}}
<div class="team-holder theme-padding">
	<div class="container">
	    <div class="main-heading-holder">
		    <div class="main-heading sytle-2">
				<h2>Available Tournaments</h2>
				<p>Explore the tournaments available for participation.</p>
		  	</div>
	    </div>
	   <div id="team-slider">
		  <div class="container">

			  {{#tournaments}}
			  <div class="col-md-3">
				<div class="team-column style-2">
				   <a href="tournamentBracket">
				   <img src="/images/tournament-2.png" href="tournamentBracket" alt="">
					  <div class="player-name">
						 <div class="desination-2">{{name}}</div>
						 <h5>{{cup}}</h5>
					  </div>
				   </a>
				</div>
			 </div>
			{{/tournaments}}
		  </div>
	   </div>
 </div>
{{>footer}}