

{{>header}}
{{>pageBanner}}
  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/imports/bootstrap.min.css"/> 
<link href="/css/matchScreen.css" rel="stylesheet" type="text/css"/>
    
    <div class="table-container" style="padding-top: 75px;">
        <table>
            <thead>
                <tr>
                    <th style ="text-align: center; font-size: 20px;">{{localTeam}}

                    <img  class ="imgTeam"src="/images/realMadrid.png" alt="Real Madrid">
                  </th>
                </tr>
            </thead>
            <tbody>
                {{#playerListLocal}}
                <tr>
                    <td> {{name}} {{lastName}}</td>

                </tr>
                {{/playerListLocal}}

            </tbody>
            <thead>
              <tr>
                  <th style ="text-align: center; font-size: 20px;">{{visitingTeam}}
                  <img  class ="imgTeam"src="/images/AtleticoDeMAdrid.png" alt="Atleti">
                </th>
              </tr>
          </thead>
          <tbody>
          {{#playerListVisiting}}
          <tr>
              <td> {{name}} {{lastName}}</td>

          </tr>
          {{/playerListVisiting}}
          </tbody>
        </table>
        <div class="fillDiv">
        <a href="fillMatchReport" >
          <button type="button" class="btn btn-outline-primary">Fill Match Report</button>
           </a>
          </div>
    </div>
 



{{>footer}}
