{{>header}}
{{>pageBanner}}
<link href="/css/team.css" rel="stylesheet" type="text/css"/>
<div>
    <section id="contant" class="contant main-heading team">
        <div class="row">
            <div class="container">
                {{#players}}
                <div class="col-md-3 column" >
                    <div class="card">
                        <div class="content">
                            <img class="img-responsive" src="/images/realMadrid.png" alt="{{name}}" style="width:100%">
                            <h4>{{name}} {{lastName}}</h4>
                            <p class="title">{{team.name}}</p>
                            <div class="center"><a href=""><button class="button">Info</button></a></div>
                        </div>
                    </div>
                </div>
                {{/players}}
            </div>
        </div>
    </section>
</div>
{{>footer}}
