{{>header}}
{{>pageBanner}}
<link href="/css/team.css" rel="stylesheet" type="text/css"/>

<div>
    <section id="contant" class="contant main-heading team">
        <div class="row">
            <div class="container">
                {{#error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {{/error}}
                {{^error}}
                {{#teams}}
                <!-- Mostrar equipos -->
                <div class="col-md-3 column">
                    <div class="card">
                        <div class="content">
                            <img class="img-responsive" src="data:image/png;base64,{{imagePath}}" alt="{{name}}" style="width: 250px ; height:350px">
                            <h4>{{name}}</h4>
                            <p class="title">{{stadium}}</p>
                            <div class="center"><a href="/teams/{{name}}"><button class="button">Info</button></a></div>
                        </div>
                    </div>
                </div>
                {{/teams}}


                <!-- Mostrar jugadores -->
                {{#players}}
                <div class="col-md-3 column">
                    <div class="card">
                        <div class="content">
                            <img class="img-responsive" src="/images/default_avatar_player.png" alt="{{name}}" style="width:100%">
                            <h4>{{name}} {{lastName}}</h4>
                            <p class="title">{{position}}</p>
                            <div class="center"><a href="/teams/{{team.name}}/{{name}}"><button class="button">Info</button></a></div>
                        </div>
                    </div>
                </div>
                {{/players}}
                {{^teams}}{{^players}}
                <p>No results found.</p>
                {{/players}}{{/teams}}
                {{/error}}
            </div>
        </div>
    </section>
</div>

{{>footer}}
