{{>header}}
{{>pageBanner}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js" defer></script>

<link rel="stylesheet" href="/css/FillMatchReport.css">

<div class="container" style=" padding-bottom: 50px;" id="allInfo">
    {{#error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/error}}
    {{^error}}
    <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-12">
            <div class="form h-100" >
                <h3>Match Report</h3>
                <form class="mb-5" method="post" id="showReportForm" name="showReportForm">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="date">Date of Match</label>
                            <input type="text" class="form-control" id="date" name="date" value="{{report.date}}" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="time">Time of Match</label>
                            <input type="text" class="form-control" id="time" name="time" value="{{report.time}}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="team1">Home Team </label>
                            <input type="text" class="form-control" name="team1" id="team1" value="{{match.localTeam.name}}" readonly>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="team2">Away Team *</label>
                            <input type="text" class="form-control" name="team2" id="team2" value="{{match.visitingTeam.name}}" readonly>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="team1Goals" class="col-form-label">Home Team Goals </label>
                            <input type="number" class="form-control" name="team1Goals" id="team1Goals" value="{{report.localTeamGoals}}" required readonly>
                            <div id="team1Scorers"></div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="team2Goals" class="col-form-label">Away Team Goals </label>
                            <input type="number" class="form-control" name="team2Goals" id="team2Goals" placeholder="{{report.visitingTeamGoals}}" required readonly>
                            <div id="team2Scorers"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                            <label for="matchOfficials">Match Officials</label>
                            <input type="text" class="form-control" id="matchOfficials" name="matchOfficials" value="{{report.matchOfficials}}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                            <label for="observations">Observations</label>
                            <textarea class="form-control" id="observations" name="observations" rows="4" readonly>{{report.observations}}</textarea>
                        </div>
                    </div>
                </form>
                <div style ="justify-content: center" >
                    <a href="/tournament/{{cup}}" >
                        <button type="button" class="btn btn-outline-primary" style =" margin-bottom: 20px; text-align: center">Bracket</button>
                    </a>
                    <button id="downloadPdfBtn" class="btn btn-primary">Download PDF</button>

                </div>
            </div>

        </div>
    </div>
    {{/error}}
</div>
<script>
    document.getElementById('downloadPdfBtn').addEventListener('click', function () {
        // Crear instancia de jsPDF
        const pdf = new jsPDF();

        // Obtener el contenido del formulario
        const element = document.getElementById('allInfo');

        // Generar el PDF desde el HTML
        pdf.fromHTML(element, 15, 15);

        // Descargar el PDF
        pdf.save('report.pdf');
    });
</script>


{{>footer}}
