{{>header}}
{{>pageBanner}}
<link href="/css/teamInfo.css" rel="stylesheet" type="text/css"/>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Players name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#players}}
                    <tr>
                        <td>{{name}} {{lastName}}</td>
                    </tr>
                    {{/players}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-container">
                <table class="second-table">
                    <thead>
                    <tr>
                        <th colspan="2">Game stats</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Games played</td>
                        <td>{{team.gamesPlayed}}</td>
                    </tr>
                    <tr>
                        <td>Wins</td>
                        <td>{{team.wins}}</td>
                    </tr>
                    <tr>
                        <td>Loses</td>
                        <td>{{team.loses}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{>footer}}
