<!DOCTYPE html>
<html lang="en">
        <head>
            <link href="/css/creations.css" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        </head>
        <body>
            <div>
                <a href="/tournamentCreation/1" style="margin-left: 20px; color: #d8302f;"><i class='input-icon uil uil-arrow-left' style="font-size: 2rem;"></i></a>
                <a href="/" style="justify-content: center; align-items: center; display: flex;"><img class="show-logo" src="/images/logo_top.png" alt="#"/></a>
        </div>
          <h2>CREATE/MODIFY PLAYER</h2>
          <hr>
          <form action="/addTeamToTournament/{{cup}}" method="post">
              <div class="marginDefined labelDesign">
                  Team properties
              </div>
            <div class="marginDefined">
                <label for="field_1">Team name:</label>
                <input type="field" name="field_1" placeholder="Enter team name" id="field_1" required>
            </div>
            <div class="marginDefined">
                <label for="field_2">Coach:</label>
                <input type="field" name="field_2" placeholder="Enter coach's name" id="field_2"required>
            </div>
            <div class="marginDefined">
                <label for="field_3">Stadium:</label>
                <input type="field" name="field_3" placeholder="Enter stadium name" id="field_3"required>
            </div>
            <div class="marginDefined">
                <label for="field_4">Team colors:</label>
                <input type="field" name="field_4" placeholder="Enter team colors" id="field_4"required>
            </div>

                  <!-- Player 1-->
                <div class="marginDefined labelDesign">
                      Player 1
                </div>
                <div class="marginDefined">
                    <label for="field_5">Player name and surname:</label>
                    <input type="field" name="field_5" placeholder="Enter player's name and surname" id="field_5"required>
                </div>
                <div class="marginDefined">
                    <label for="field_6">Age:</label>
                    <input type="field" name="field_6" placeholder="Enter player age" id="field_6"required>
                </div>
                <div class="marginDefined">
                    <label for="field_7">T-shirt nº:</label>
                    <input type="field" name="field_7" placeholder="Enter player's t-shirt nº" id="field_7"required>
                </div>
                <div class="marginDefined">
                    <label for="field_8">Nacionality:</label>
                    <input type="field" name="field_8" placeholder="Enter player nacionality" id="field_8"required>
                </div>
                <div class="marginDefined">
                    <label for="field_9">Weight:</label>
                    <input type="field" name="field_9" placeholder="Enter player weight" id="field_9"required>
                </div>
                <div class="marginDefined">
                    <label for="field_10">Height:</label>
                    <input type="field" name="field_10" placeholder="Enter player height" id="field_10"required>
                </div>
                <div class="marginDefined">
                     <label for="field_11">Position:</label>
                     <input type="field" name="field_11" placeholder="Enter player position" id="field_11"required>
                </div>


              <!-- Player 2-->
              <div class="marginDefined labelDesign">
                  Player 2
              </div>
              <div class="marginDefined">
                  <label for="field_12">Player name and surname:</label>
                  <input type="field" name="field_12" placeholder="Enter player's name and surname" id="field_12"required>
              </div>
              <div class="marginDefined">
                  <label for="field_13">Age:</label>
                  <input type="field" name="field_13" placeholder="Enter player age" id="field_13"required>
              </div>
              <div class="marginDefined">
                  <label for="field_14">T-shirt nº:</label>
                  <input type="field" name="field_14" placeholder="Enter player's t-shirt nº" id="field_14"required>
              </div>
              <div class="marginDefined">
                  <label for="field_15">Nacionality:</label>
                  <input type="field" name="field_15" placeholder="Enter player nacionality" id="field_15"required>
              </div>
              <div class="marginDefined">
                  <label for="field_16">Weight:</label>
                  <input type="field" name="field_16" placeholder="Enter player weight" id="field_16"required>
              </div>
              <div class="marginDefined">
                  <label for="field_17">Height:</label>
                  <input type="field" name="field_17" placeholder="Enter player height" id="field_17"required>
              </div>
              <div class="marginDefined">
                  <label for="field_18">Position:</label>
                  <input type="field" name="field_18" placeholder="Enter player position" id="field_18"required>
              </div>
              <!-- Player 3-->
              <div class="marginDefined labelDesign">
                  Player 3
              </div>
              <div class="marginDefined">
                  <label for="field_19">Player name and surname:</label>
                  <input type="field" name="field_19" placeholder="Enter player's name and surname" id="field_19"required>
              </div>
              <div class="marginDefined">
                  <label for="field_20">Age:</label>
                  <input type="field" name="field_20" placeholder="Enter player age" id="field_20"required>
              </div>
              <div class="marginDefined">
                  <label for="field_21">T-shirt nº:</label>
                  <input type="field" name="field_21" placeholder="Enter player's t-shirt nº" id="field_21"required>
              </div>
              <div class="marginDefined">
                  <label for="field_22">Nacionality:</label>
                  <input type="field" name="field_22" placeholder="Enter player nacionality" id="field_22"required>
              </div>
              <div class="marginDefined">
                  <label for="field_23">Weight:</label>
                  <input type="field" name="field_23" placeholder="Enter player weight" id="field_23"required>
              </div>
              <div class="marginDefined">
                  <label for="field_24">Height:</label>
                  <input type="field" name="field_24" placeholder="Enter player height" id="field_24"required>
              </div>
              <div class="marginDefined">
                  <label for="field_25">Position:</label>
                  <input type="field" name="field_25" placeholder="Enter player position" id="field_25"required>
              </div>
              <!-- Player 4-->
              <div class="marginDefined labelDesign">
                  Player 4
              </div>
              <div class="marginDefined">
                  <label for="field_19">Player name and surname:</label>
                  <input type="field" name="field_26" placeholder="Enter player's name and surname" id="field_26"required>
              </div>
              <div class="marginDefined">
                  <label for="field_27">Age:</label>
                  <input type="field" name="field_27" placeholder="Enter player age" id="field_27"required>
              </div>
              <div class="marginDefined">
                  <label for="field_28">T-shirt nº:</label>
                  <input type="field" name="field_28" placeholder="Enter player's t-shirt nº" id="field_28"required>
              </div>
              <div class="marginDefined">
                  <label for="field_29">Nacionality:</label>
                  <input type="field" name="field_29" placeholder="Enter player nacionality" id="field_29"required>
              </div>
              <div class="marginDefined">
                  <label for="field_30">Weight:</label>
                  <input type="field" name="field_30" placeholder="Enter player weight" id="field_30"required>
              </div>
              <div class="marginDefined">
                  <label for="field_31">Height:</label>
                  <input type="field" name="field_31" placeholder="Enter player height" id="field_31"required>
              </div>
              <div class="marginDefined">
                  <label for="field_32">Position:</label>
                  <input type="field" name="field_32" placeholder="Enter player position" id="field_32"required>
              </div>
              <!-- Player 5-->
              <div class="marginDefined labelDesign">
                  Player 5
              </div>
              <div class="marginDefined">
                  <label for="field_33">Player name and surname:</label>
                  <input type="field" name="field_33" placeholder="Enter player's name and surname" id="field_33"required>
              </div>
              <div class="marginDefined">
                  <label for="field_34">Age:</label>
                  <input type="field" name="field_34" placeholder="Enter player age" id="field_34"required>
              </div>
              <div class="marginDefined">
                  <label for="field_35">T-shirt nº:</label>
                  <input type="field" name="field_35" placeholder="Enter player's t-shirt nº" id="field_35"required>
              </div>
              <div class="marginDefined">
                  <label for="field_36">Nacionality:</label>
                  <input type="field" name="field_36" placeholder="Enter player nacionality" id="field_36"required>
              </div>
              <div class="marginDefined">
                  <label for="field_37">Weight:</label>
                  <input type="field" name="field_37" placeholder="Enter player weight" id="field_37"required>
              </div>
              <div class="marginDefined">
                  <label for="field_38">Height:</label>
                  <input type="field" name="field_38" placeholder="Enter player height" id="field_38"required>
              </div>
              <div class="marginDefined">
                  <label for="field_39">Position:</label>
                  <input type="field" name="field_39" placeholder="Enter player position" id="field_39"required>
              </div>
              <!-- Player 6-->
              <div class="marginDefined labelDesign">
                  Player 6
              </div>
              <div class="marginDefined">
                  <label for="field_40">Player name and surname:</label>
                  <input type="field" name="field_40" placeholder="Enter player's name and surname" id="field_40"required>
              </div>
              <div class="marginDefined">
                  <label for="field_41">Age:</label>
                  <input type="field" name="field_41" placeholder="Enter player age" id="field_41"required>
              </div>
              <div class="marginDefined">
                  <label for="field_42">T-shirt nº:</label>
                  <input type="field" name="field_42" placeholder="Enter player's t-shirt nº" id="field_42"required>
              </div>
              <div class="marginDefined">
                  <label for="field_43">Nacionality:</label>
                  <input type="field" name="field_43" placeholder="Enter player nacionality" id="field_43"required>
              </div>
              <div class="marginDefined">
                  <label for="field_44">Weight:</label>
                  <input type="field" name="field_44" placeholder="Enter player weight" id="field_44"required>
              </div>
              <div class="marginDefined">
                  <label for="field_45">Height:</label>
                  <input type="field" name="field_45" placeholder="Enter player height" id="field_45"required>
              </div>
              <div class="marginDefined">
                  <label for="field_46">Position:</label>
                  <input type="field" name="field_46" placeholder="Enter player position" id="field_46"required>
              </div>
              <!-- Player 7-->
              <div class="marginDefined labelDesign">
                  Player 7
              </div>
              <div class="marginDefined">
                  <label for="field_47">Player name and surname:</label>
                  <input type="field" name="field_47" placeholder="Enter player's name and surname" id="field_47"required>
              </div>
              <div class="marginDefined">
                  <label for="field_48">Age:</label>
                  <input type="field" name="field_48" placeholder="Enter player age" id="field_48"required>
              </div>
              <div class="marginDefined">
                  <label for="field_49">T-shirt nº:</label>
                  <input type="field" name="field_49" placeholder="Enter player's t-shirt nº" id="field_49"required>
              </div>
              <div class="marginDefined">
                  <label for="field_50">Nacionality:</label>
                  <input type="field" name="field_50" placeholder="Enter player nacionality" id="field_50"required>
              </div>
              <div class="marginDefined">
                  <label for="field_51">Weight:</label>
                  <input type="field" name="field_51" placeholder="Enter player weight" id="field_51"required>
              </div>
              <div class="marginDefined">
                  <label for="field_52">Height:</label>
                  <input type="field" name="field_52" placeholder="Enter player height" id="field_52"required>
              </div>
              <div class="marginDefined">
                  <label for="field_53">Position:</label>
                  <input type="field" name="field_53" placeholder="Enter player position" id="field_53"required>
              </div>
              <div class="marginDefined labelDesign">
                  Photo uploading
              </div>
              <div class="marginDefined">
                  <label for="photo_1">Team photo:</label>
                  <input type="file" name="field_7" id="photo_1" accept="image/png">
              </div>
            <button type="submit">SAVE</button>
       
            <button type="button" onclick="location.href='/tournamentCreation/1'">CANCEL</button>
            <br>
          </form>
        </body>
    </section>-
</body>
</html>