<!DOCTYPE html>
<html lang="en">
        <head>
            <link href="css/creations.css" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        </head>
        <body>
            <div>
                <a href="./index" style="margin-left: 20px; color: #d8302f;"><i class='input-icon uil uil-arrow-left' style="font-size: 2rem;"></i></a>
                <a href="./index" style="justify-content: center; align-items: center; display: flex;"><img class="show-logo" src="./images/logo_top.png" alt="#"/></a>
        </div>
          <h2>CREATE/MODIFY PLAYER</h2>
          <hr>
          <form action="/index" >
            <div class="marginDefined">
                <label for="field_1">Team name:</label>
                <input type="field" name="field_1" placeholder="Enter team name" id="field_1" required>
            </div>
            <div class="marginDefined">
                <label for="field_2">Coach:</label>
                <input type="field" name="field_2" placeholder="Enter coach's name" id="field_2"required>
            </div>
            <div class="marginDefined">
                <label for="field_3">Stadium:</label>
                <input type="field" name="field_3" placeholder="Enter stadium name" id="field_3"required>
            </div>
            <div class="marginDefined">
                <label for="field_4">Team colors:</label>
                <input type="field" name="field_4" placeholder="Enter team colors" id="field_4"required>
            </div>
            <div class="marginDefined">
                <label for="field_5">Player 1:</label>
                <input type="field" name="field_5" placeholder="Enter player 1" id="field_5"required>
            </div>
            <div class="marginDefined">
                <label for="field_6">Player 2:</label>
                <input type="field" name="field_6" placeholder="Enter player 2" id="field_6"required>
            </div>
            <div class="marginDefined">
                <label for="field_7">Player 3:</label>
                <input type="field" name="field_7" placeholder="Enter player 3" id="field_7"required>
            </div>
            <div class="marginDefined">
                <label for="field_8">Player 4:</label>
                <input type="field" name="field_8" placeholder="Enter player 4" id="field_8"required>
            </div>
            <div class="marginDefined">
                <label for="field_9">Player 5:</label>
                <input type="field" name="field_9" placeholder="Enter player 5" id="field_9"required>
            </div>
            <div class="marginDefined">
                <label for="field_10">Player 6:</label>
                <input type="field" name="field_10" placeholder="Enter player 6" id="field_10"required>
            </div>
            <div class="marginDefined">
                <label for="field_11">Player 7:</label>
                <input type="field" name="field_11" placeholder="Enter player 7" id="field_11"required>
            </div>
            <button type="save">SAVE</button>
       
            <button type="cancel" onclick="location.href='index'">CANCEL</button>
            <br>
          </form>
        </body>
    </section>
</body>
</html>