{{>header}}
{{>pageBanner}}
<link href="/css/bracket.css" rel="stylesheet" type="text/css"/>
<div class="inner-information-text" >
<div class="bracket" style="background-color: rgb(51, 51, 51)">


	<div class="round" id ="round1">
		{{#roundOne}}
		<a href="/tournament/{{cup}}/{{id}}">
			<div class="match">
				{{#localTeam}}
				<div class="team">{{localTeam.name}} <span>{{localGoals}}</span></div>
				{{/localTeam}}
				{{^localTeam}}
				<div class="team">No local team assigned</div>
				{{/localTeam}}

				{{#visitingTeam}}
				<div class="team">{{visitingTeam.name}} <span>{{visitingGoals}}</span></div>
				{{/visitingTeam}}
				{{^visitingTeam}}
				<div class="team">No visiting team assigned</div>
				{{/visitingTeam}}
			</div>
		</a>
		{{/roundOne}}
	</div>





	<div class="round">
		{{#roundTwo}}
		<a href="/tournament/{{cup}}/{{id}}">
			<div class="match">
				{{#localTeam}}
				<div class="team">{{localTeam.name}} <span>{{localGoals}}</span></div>
				{{/localTeam}}
				{{^localTeam}}
				<div class="team">No local team assigned</div>
				{{/localTeam}}

				{{#visitingTeam}}
				<div class="team">{{visitingTeam.name}} <span>{{visitingGoals}}</span></div>
				{{/visitingTeam}}
				{{^visitingTeam}}
				<div class="team">No visiting team assigned</div>
				{{/visitingTeam}}
			</div>
		</a>
		{{/roundTwo}}
	</div>
	<div class="round">
		{{#roundThree}}
		<a href="/tournament/{{cup}}/{{id}}">
			<div class="match">
				{{#localTeam}}
				<div class="team">{{localTeam.name}} <span>{{localGoals}}</span></div>
				{{/localTeam}}
				{{^localTeam}}
				<div class="team">No local team assigned</div>
				{{/localTeam}}

				{{#visitingTeam}}
				<div class="team">{{visitingTeam.name}} <span>{{visitingGoals}}</span></div>
				{{/visitingTeam}}
				{{^visitingTeam}}
				<div class="team">No visiting team assigned</div>
				{{/visitingTeam}}
			</div>
		</a>
		{{/roundThree}}
	</div>
  	<div class="round">
		{{#roundFour}}
		<a href="/teams/{{localTeam.name}}">
			<div class="match">
				{{#localTeam}}
				<div class="team">{{localTeam.name}} <span>Winner!!!!</span></div>
				{{/localTeam}}
				{{^localTeam}}
				<div class="team">No local team assigned</div>
				{{/localTeam}}

			</div>
		</a>
		{{/roundFour}}
	</div>
	
</div>

</div>
{{>footer}}
