<!DOCTYPE html>
<html lang="en">
    <html>
        <head>
            <link href="css/creations.css" rel="stylesheet" type="text/css"/>
            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        </head>
        <body>
            <div>
                <a href="./" style="margin-left: 20px; color: #d8302f;"><i class='input-icon uil uil-arrow-left' style="font-size: 2rem;"></i></a>
                <a href="./" style="justify-content: center; align-items: center; display: flex;"><img class="show-logo" src="./images/logo_top.png" alt="#"/></a>
        </div>
          <h2>CREATE TOURNAMENT</h2>
          <hr>
          <form action="/index" >
            <div class="marginDefined">
                <label for="field_1">Tournament name:</label>
                <input type="field" name="field_1" id="field_1" placeholder="Enter Tournament name" required>
            </div>
            <div class="marginDefined">
                <label for="field_2">Category:</label>
                <input type="field" name="field_2" id="field_2" placeholder="Enter category" required>
            </div>
            <div class="marginDefined">
                <label for="field_3">Cup:</label>
                <input type="field" name="field_3" id="field_3" placeholder="Enter cup" required>
            </div>
            <div class="marginDefined">
                <label for="field_4">Team 1:</label>
                <input type="field" name="field_4" id="field_4" placeholder="Enter first team" required>
            </div>
            <div class="marginDefined">
                <label for="field_5">Team 2:</label>
                <input type="field" name="field_5" id="field_5" placeholder="Enter seccond team" required>
            </div>
            <div class="marginDefined">
                <label for="field_6">Team 3:</label>
                <input type="field" name="field_6" id="field_6" placeholder="Enter third team" required>
            </div>
            <div class="marginDefined">
                <label for="field_7">Team 4:</label>
                <input type="field" name="field_7" id="field_7" placeholder="Enter fourth team" required>
            </div>
              <div class="marginDefined">
                  <label for="photo">Tournament photo:</label>
                  <input type="file" name="field_7" id="photo" accept="image/png">
              </div>
            <button type="save">SAVE</button>
            <button type="cancel" onclick="location.href='index'">CANCEL</button>
            <br>
          </form>
        </body>
    </section>
        </html>
</body>
</html>