{{>header}}
{{>pageBanner}}
<link href="css/bracket.css" rel="stylesheet" type="text/css"/>
<div class="inner-information-text" >
<div class="bracket" style="background-color: rgb(51, 51, 51)">


	<div class="round" id ="round1">
		{{#roundOne}}
		<a href="/tournament/{{cup}}/{{id}}">
		<div class="match">
			<div class="team">{{localTeam.name}} <span > {{localGoals}}</span></div>
			<div class="team">{{visitingTeam.name}} <span> {{visitingGoals}}</span></div>
		</div>
		</a>
		{{/roundOne}}
	</div>




	<div class="round">
		{{#roundTwo}}
		<a href="matchScreen">
			<div class="match">
				<div class="team">{{localTeam.name}} <span > {{localGoals}}</span></div>
				<div class="team">{{visitingTeam.name}} <span> {{visitingGoals}}</span></div>
			</div>
		</a>
		{{/roundTwo}}
	</div>
	<div class="round">
		{{#roundThree}}
		<a href="matchScreen">
			<div class="match">
				<div class="team">{{localTeam.name}} <span > {{localGoals}}</span></div>
				<div class="team">{{visitingTeam.name}} <span> {{visitingGoals}}</span></div>
			</div>
		</a>
		{{/roundThree}}
	</div>
  	<div class="round">
		{{#roundFour}}
		<a href="matchScreen">
			<div class="match">
				<div class="team">{{localTeam.name}} <span > {{localGoals}}</span></div>
				<div class="team">{{visitingTeam.name}} <span> {{visitingGoals}}</span></div>
			</div>
		</a>
		{{/roundFour}}
	</div>
	
</div>
<div style ="display: flex; justify-content: center; background-color: rgb(51, 51, 51);  padding-bottom: 20px;">  <a href="stadistics" >
	<button type="button" class="btn btn-outline-primary">Stadistics</button>
	 </a> </div>
</div>
{{>footer}}
