

<header-web></header-web>
<app-banner></app-banner>

<div class="team-holder theme-padding container ">
  <div class="main-heading-holder">
    <div class="main-heading sytle-2">
      <h2>Results</h2>
      <p>Explore the results available.</p>
    </div>
  </div>
  <div class="" style="margin-bottom: 20px">

    <teamCard   *ngIf="type =='team'"    [teamData]="data" [loadDefaultTeams]=false></teamCard>
    <playerCard  *ngIf="type =='player'" [playerData]="data" [loadDefaultPlayers]=false></playerCard>
    <tournamentCard  *ngIf="type =='tournament'" [tournamentData]="data" [loadDefaultTournaments]=false></tournamentCard>

  </div>

</div>

<footer-web> </footer-web>
